---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Hero />

<Layout>
  <a href="/component-style-view">link til styling page </a>
  <h1>Forside</h1>
</Layout>

<style>
  a {
    color: blue;
  }
</style>
