---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import VideoSection from "../components/Video_section.astro";
import BestSellers from "../components/Bestseller_section.astro";
---

<Layout>
  <Hero />
  <VideoSection />
  <BestSellers />
  <a href="/component-style-view">link til styling page </a>
  <h1>Forside</h1>
</Layout>

<style>
  a {
    color: blue;
  }
</style>
