---
import Layout from "../layouts/Layout.astro";
import ProductGrid from "../components/ProductGrid.astro";
---

<Layout>
  <section>
    <h1>Products</h1>
    <ProductGrid />
  </section>
</Layout>

<style>
  section {
    display: grid;
  }
  h1 {
    font-size: 3rem;
  }
</style>
