---
import Layout from "../layouts/Layout.astro";
import ProductGrid from "../components/ProductGrid.astro";
---

<Layout>
  <section>
    <ProductGrid />
  </section>
</Layout>

<style>
  section {
    display: grid;
  }
</style>
