---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="wip_h1">
    <h1>Denne side er under opbygning</h1>
    <p>(work in progress)</p>
  </div>
</Layout>

<style>
  .wip_h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;

    height: 50vw;
  }

  .wip_h1 h1 {
    font-size: 2cqw;
    margin-top: 20rem;
  }

  p {
    font-size: 1.5cqw;
    font-style: italic;
  }
</style>
