---
// @ts-check
---

<section class="beer_buttons">
  <div class="signup_container">
    <button class="cta1"> BLIV MEDLEM </button>

    <p>
      Månedskassen bliver <b>sendt ud i slutningen af hver måned.</b> Den første
      betaling trækkes den dag, hvor du tilmelder dig ølklubben, og herefter den
      samme dag hver følgende måned. Vi kan kun opfordre dig til at blive medlem
      af Alefarm Beer Club. Det er en oplevelse, som er skabt med <b
        >stor passion for det gode øl.</b
      >
    </p>
  </div>

  <div class="readmore_container">
    <button class="cta2"> MEDLEMS PORTAL </button>

    <p>
      Du kan administrere dit medlemskab af Alefarm Beer Club via vores
      medlemsportal. Du skal <b>logge ind med den e-mail-adresse,</b> som du har
      anvendt til at tilmelde dig ølklubben.
    </p>
  </div>
</section>

<style>
  .cta1 {
    margin: 3rem auto 1.5rem auto;
    padding: 1rem 4rem;
    font-size: 2.5cqw;
  }

  .cta2 {
    margin: 0.5rem auto 1.5rem auto;
    padding: 1rem 3.3rem;
    font-size: 2.5cqw;
  }
  .beer_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin: auto 3rem;
  }

  .signup_container,
  .readmore_container {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .signup_container p,
  .readmore_container p {
    text-align: left;
    width: 100%;
  }

  .readmore_container {
    margin-top: 10vw;
  }

  .beer_buttons button {
    align-self: center;
  }

  /* 💻 Desktop layout */
  @media (min-width: 800px) {
    .beer_buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      align-items: start;

      margin: 5vw 12rem 20vw 12rem;
    }

    .signup_container {
      grid-column: 1;
    }

    .readmore_container {
      grid-column: 2;
      margin-top: 0vw;
    }

    .cta1 {
      margin: 3rem auto 1.5rem auto;
      padding: 1rem 4rem;
      font-size: 1.5cqw;
    }

    .cta2 {
      margin: 3rem auto 1.5rem auto;
      padding: 1rem 3.3rem;
      font-size: 1.5cqw;
    }
  }
</style>
