---
// @ts-check
---

<section class="beerclub1_container">
  <img src="../../public/beerclub_v1.png" alt="" />

  <div class="beerclub1_text">
    <h3>Øl På Abonnement</h3>
    <p class="p_b">12 friske øl</p>
    <p>
      Vores ølklub består af <strong>en herlig månedskasse</strong>, som
      udsendes i slutningen af hver måned, og som indeholder alle de <strong
        >sprudlende friske og spændende øl</strong
      > fra vores produktion. Månedskassen er for alle, som sætter pris på fantastisk
      og velsmagende craft beer, som er brygget med indlevelse, ambition og respekt
      for det gode håndværk.
    </p>

    <ul>
      <li><b>12 friske nye øl</b> hver måned</li>
      <li><b>Sæsonaktuelle tilbud</b> og <b> rabatter </b></li>
      <li>Eksklusiv adgang til vores <b>nye fadlagrede øl</b></li>
      <li><b>10% rabat </b>i vores tap room</li>
      <li><b>Opskrifter</b> til hjemmebryg af dine yndlings øl fra Alefarm</li>
      <li><b>Gratis fragt</b></li>
    </ul>
  </div>
</section>

<style>
  .beerclub1_container {
    margin: auto 3rem;
  }

  .gallery {
    margin-bottom: 3rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    margin: 8vw auto;
  }

  li {
    padding: 1.5vw;
    margin-left: -1.5vw;
  }

  .gallery ul li {
    color: var(--font-color-white);
  }
  .beerclub1_text ul li {
    color: var(--second-color);
  }

  img {
    margin: 2vw auto 20vw auto;
  }

  h3 {
    margin-bottom: 3vw;
    font-weight: 700;
  }

  p {
    margin-bottom: 4vw;
  }

  @media (min-width: 800px) {
    .beerclub1_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      margin: 20vw 12rem auto 12rem;
    }

    img {
      margin: 0;
      grid-column: 2;
    }

    .beerclub1_text {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .beerclub1_text ul {
      margin-top: auto;

      padding-left: 1.5rem;

      margin: 0vw;
    }

    li {
      padding: 0.5vw;
      margin-left: 0vw;
    }

    .p_b {
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;
    }

    .beerclub1_text {
      grid-column: 1;
      grid-row: 1;
    }

    h3 {
      font-size: 3cqw;
    }
  }
</style>
