---
//@ts-check
---

<section>
  <div class="wrapper">
    <img
      src="../../public/beer-club-gallery/pic1.webp"
      alt=""
      class="img img1"
    />
    <img
      src="../../public/beer-club-gallery/pic2.webp"
      alt=""
      class="img img2"
    />
    <img
      src="../../public/beer-club-gallery/pic3.webp"
      alt=""
      class="img img3"
    />
    <img
      src="../../public/beer-club-gallery/pic4.webp"
      alt=""
      class="img img4"
    />
    <img
      src="../../public/beer-club-gallery/pic5.webp"
      alt=""
      class="img img5"
    />
    <img
      src="../../public/beer-club-gallery/pic6.webp"
      alt=""
      class="img img6"
    />
    <img
      src="../../public/beer-club-gallery/pic7.webp"
      alt=""
      class="img img7"
    />
  </div>
</section>

<style>
  .wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .wrapper img {
  }

  .img {
    margin: 1rem;
  }

  @keyframes scrollLeft {
    to {
      left: -1200px;
    }
  }
</style>
