---
// @ts-check
---

<section class="betaling_container">
  <h4 class="betal">Betaling</h4>
  <div class="kort">
    <div class="kort_div">
      <img src="../../public/Ellipse10.png" alt="" class="ellipse" />
      <img src="../../public/credit_cards.webp" class="credit" alt="" />
    </div>
    <hr />
    <div class="kort_info">
      <div id="cardnumber" class="solo">
        <input
          type="text"
          placeholder="Kortnummer"
          id="knummer"
          name="kortnummer"
        />
      </div>

      <div class="twotwo card_ex">
        <input
          type="text"
          placeholder="Udløbsdato"
          id="expdate"
          name="udloeb"
        />
        <input
          type="text"
          placeholder="Sikkerhedskode"
          id="scode"
          name="sikkerhedskode"
        />
      </div>
      <div class="solo card_name">
        <input
          type="text"
          placeholder="Navn på kortet"
          id="knavn"
          name="kortnavn"
        />
      </div>
    </div>
    <hr />
    <div class="kort_div">
      <img src="../../public/Ellipse11.png" alt="" class="ellipse" />
      <img src="../../public/paypal.png" class="credit" alt="" />
    </div>
    <hr />
    <div class="kort_div">
      <img src="../../public/Ellipse11.png" alt="" class="ellipse" />
      <img src="../../public/MP.png" class="credit" alt="" />
    </div>
    <hr />

    <div class="buy_btn">
      <button class="cta1">Betal nu </button>
    </div>
  </div>
</section>

<style>
  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
  }

  section {
    place-content: center;
    place-self: center;
    width: 40rem;
    /* background-color: var(--main-color); */
  }

  .betal {
    margin-top: 1rem;
  }

  .betaling_container {
    padding: 1rem 1rem 1rem 1rem;
    width: 95%;
  }

  .kort_div {
    display: flex;
    flex-direction: row;
  }

  .credit {
    height: 20px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .ellipse {
    height: 10px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2px;
  }

  .kort_info {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 1rem;
  }

  input {
    margin: 5px;
  }

  .solo input {
    width: 98.5%;
    height: 3rem;
  }

  .twotwo {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
  }
  .twotwo input {
    width: 50%;
    height: 3rem;
  }

  .buy_btn {
    place-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @media (min-width: 800px) {
    .betaling_container {
      width: 78%;
    }
  }
</style>
