---

---

<section>
  <div class="countdown_div">
    <h1>Beer Club</h1>
    <p>Nedtælling til næste forsendelse af månedskassen:</p>
    <h2 class="timer"></h2>
  </div>

  <div class="countdown_btns">
    <a href="../pages/wip.astro"
      ><button class="signup_btn">BLIV MEDLEM</button></a
    >
    <a href="../pages/wip.astro"
      ><button class="readmore_btn">MEDLEMS PORTAL</button></a
    >
  </div>
</section>

<style>
  .countdown_div {
    text-align: center;
  }

  .countdown_btns {
    display: flex;
    flex-direction: column;
    place-self: center;
    place-content: center;
  }

  .countdown_btns button {
    font-size: 1.8cqw;
  }

  .signup_btn {
    background-color: var(--second-color);
    color: var(--font-color-white);

    margin: 3rem auto 0.5rem auto;
    padding: 0.5rem 4rem;
  }

  .readmore_btn {
    background-color: var(--font-color-white);
    color: var(--font-color-black);
    border-radius: 1px;
    box-shadow:
      9px 22px 7px 0px rgba(0, 0, 0, 0),
      6px 14px 6px 0px rgba(0, 0, 0, 0.01),
      3px 8px 5px 0px rgba(0, 0, 0, 0.03),
      1px 3px 4px 0px rgba(0, 0, 0, 0.04),
      0px 1px 2px 0px rgba(0, 0, 0, 0.05);

    margin: 0.5rem auto 1rem auto;
    padding: 0.5rem 3.3rem;
  }

  h2 {
    background-color: var(--second-color);
    color: var(--font-color-white);
    margin: auto 9vw;
    padding: 0.5rem 0rem;
  }

  h1 {
    font-size: 9cqw;
    margin-top: 4vw;
  }

  p {
    font-size: 2.5cqw;
    font-style: italic;
    margin-bottom: 7vw;
  }

  * {
    box-sizing: border-box;
  }

  body {
    display: grid;
    /* place-items: center; */
    height: 100vh;
    width: 100%;
  }

  h1:empty:after {
    display: none;
  }

  h1:after {
    /* Dato og tid der bliver VIST */
    content: "June 2, 2025 10:00:00";
    display: none;
    font-weight: 400;
    font-size: 17px;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 5cqw;
      margin-top: 8vw;
    }

    h2 {
      font-size: 5cqw;
      margin: auto 20vw;
      padding: 0.5rem 0rem;
    }

    .signup_btn {
      margin: 3rem auto 1rem auto;
      padding: 0.5rem 4rem;
    }

    .readmore_btn {
      margin: 0.5rem auto 3rem auto;
      padding: 0.5rem 2.7rem;
    }

    .countdown_btns button {
      font-size: 1.5cqw;
    }

    p {
      font-size: 1.5cqw;
    }
  }
</style>

<script>
  // INDSÆT DAT OG TID
  var countDownDate = new Date("July 1, 2025 10:00:00").getTime();
  var timeClear = setInterval(function () {
    var now = new Date().getTime();
    var timeLeft = countDownDate - now;
    var days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
    );
    var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
    document.querySelector(".timer").innerHTML =
      days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
    if (timeLeft < 0) {
      clearInterval(timeClear);
      document.querySelector(".timer").innerHTML = "Timer Finished";
    }
  }, 1000);
</script>
