---

---

<footer>
  <article>
    <div class="footer_image">
      <img src="../../public/placeholder.webp" alt="" />
    </div>

    <section class="footer_links">
      <div class="footer_nyhedsbrev">
        <h3>Tilmeld dig vores nyhedsbrev!</h3>
        <label for="fname">eksempel@gmail.dk:</label>
        <input type="text" id="email" name="email" />
      </div>

      <div class="footer_hyperlinks">
        <ul>
          <a href="../pages/wip.astro"
            ><li>
              <p>About us</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Tap Room & Opening Hours</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Podcast</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>B2B Distribution</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Shipping FAQ</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Smiley Report</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Privacy Policy</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Cookie Policy</p>
            </li></a
          >
          <a href="../pages/wip.astro"
            ><li>
              <p>Contact Us</p>
            </li></a
          >
        </ul>
      </div>

      <div class="footer_some">
        <a href="../../public/footer_icons/linkedin_icon_bw.png"
          ><img
            src="../../public/footer_icons/linkedin_icon_bw.png"
            alt="linkedin_icon"
          /></a
        >
        <a href="https://www.instagram.com/alefarmbrewing"
          ><img
            src="../../public/footer_icons/instagram_icon.png"
            alt="instagram_icon"
          /></a
        >
      </div>
    </section>
  </article>
</footer>

<style>
  footer {
    display: grid;
    place-content: center;
    background-color: rgba(25, 25, 25, 1);
    padding: 2rem;
    color: white;
  }
</style>
