---
import Knap1 from "../assets/1.svg";
import Knap2 from "../assets/2.svg";
import "../css/styles.css";
---

<header>
  <div class="top_header">
    <a href="/" class="logo">
  <img src="/logo_white.svg" alt="Logo" />
</a>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="/">Forside</a></li>
      <li><a href="/products">Shop</a></li>
      <li><a href="/products">Beer-club</a></li>
      <li><a href="/">Brewery-tours</a></li>
      <li><a href="/">Information</a></li>
    </ul>

    <div class="flex">
      <img src={Knap1.src} alt="" />
      <img src={Knap2.src} alt="" />
    </div>
  </nav>
</header>

<style>
  img {
    height: 1.5rem;
  }

  .top_header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* centers children vertically */
  background-color: var(--second-color);
  padding: 2rem;
}

  .logo{
    place-self: start;
    height: 4rem;
    img{
      height: 4rem;
      width: auto;
    }
  }

  .burger{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
}
  

  header {
    background-color: var(--main-color);
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li:last-child {
    margin-right: 0;
  }

  ul a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
        /* margin-top: auto;
        margin-bottom: auto; */

  }

  .burger .line {
    width: 3rem;
    height: 0.5rem;
    background-color: white;
    margin-bottom: 5px;
    transition: 0.2s linear;
    border-radius: 1rem;
  }
  .burger {
    display: none;
  }
  @media screen and (max-width: 800px) {
    ul {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active ul {
      display: block;
      position: absolute;
      top: 94px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    nav.active ul li {
      margin: 10px 20px;
    }

    nav.active ul a {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 800px) {
    .flex {
      margin-left: auto;
      position: absolute;
      right: 0;
      gap: 2rem;
    }

    .top_header {
      display: flex;
      /* grid-template-columns: 1fr 1fr; */
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1%;
      height: 5rem;
      background-color: var(--second-color);
      img{
        height: 100%;
        width: auto;
      }
    }

    .logo {
    }
    header {
      padding: 1rem 1rem;
      display: grid;
      background-color: var(--second-color);
    }

    nav {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      position: relative;
    }

    ul {
      display: flex;
      place-self: center;
      list-style-type: none;
      gap: calc(1vw + 2rem);
      margin-right: 6rem;
      margin-left: 6rem;
    }

    li {
      border: solid var(--second-color) 2px;
      padding-inline: 0.5rem;
      padding-block: 0.125rem;
    }

    li:hover {
      animation: draw-outline 1s;
      animation-direction: alternate;
      padding-inline: 0.5rem;
      padding-block: 0.125rem;
    }

    @keyframes draw-outline {
      0% {
      }

      25% {
        border-top: solid white 2px;
      }

      50% {
        border-right: solid white 2px;
      }

      75% {
        border-bottom: solid white 2px;
      }

      100% {
        border: solid white 2px;
      
    }

    a.logo {
      font-weight: bold;
      font-size: 3rem;
      color: white;
      place-self: center;
    }

    .burger {
      display: none;
    }
  }
</style>
