---

---

<header>
  <a href="/" class="logo">Logo</a>
  <nav>
    <ul>
      <li><a href="/">Forside</a></li>
      <li><a href="/products">Shop</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    background-color: rgba(25, 25, 25, 1);
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    gap: 4rem;
  }

  a.logo {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    place-self: center;
  }

  a,
  p {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    place-self: center;
  }
</style>
