---
import Knap1 from "../assets/1.svg";
import Knap2 from "../assets/2.svg";
import "../css/styles.css";
---

<header>
  <a href="/" class="logo">Logo</a>
  <nav>
    <ul>
      <li><a href="/">Forside</a></li>
      <li><a href="/products">Shop</a></li>
      <li><a href="/products">Beer-club</a></li>
      <li><a href="/">Brewery-tours</a></li>
      <li><a href="/">Information</a></li>
    </ul>
    <div class="flex">
      <img src={Knap1.src} alt="" />
      <img src={Knap2.src} alt="" />
    </div>
  </nav>
</header>

<style>
  img {
    height: 1rem;
  }
  .flex {
    display: flex;
    margin-left: auto;
    position: absolute;
    right: 0;
  }

  header {
    padding: 1rem 1rem;
    display: grid;
    background-color: var(--second-color);
  }

  nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    position: relative;
  }

  ul {
    display: flex;
    place-self: center;
    list-style-type: none;
    gap: 3rem;
    margin-right: 6rem;
    margin-left: 6rem;
  }

  li {
    border: solid var(--second-color) 2px;
    padding-inline: 0.5rem;
    padding-block: 0.125rem;
  }

  li:hover {
    border: solid white 2px;
    padding-inline: 0.5rem;
    padding-block: 0.125rem;
  }

  a.logo {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    place-self: center;
  }
</style>
