---
// import newsletter from "../../public/Mail.svg";
---

<section class="newsletter">
  <div class="newsletter_icon"><img src="../../public/Mail.svg" alt="" /></div>
</section>

<style>
  .newsletter {
    background-color: black;
    height: 5rem;
    width: 100%;
  }

  .newsletter_icon img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
  }

  @media screen and (min-width: 800px) {
    .newsletter {
      position: fixed;
      right: 0;
      bottom: 10px;
      width: 7rem;
      height: 7rem;
      align-content: center;
      align-items: center;
    }
  }
</style>
