---
import "../css/styles.css";
---

<article>
  <div class="boks">
    <img src="../../public/temporaryimg.png" alt="" />
    <div class="background">
      <p class="repeat">
        reason to give reason to give reason to give reason to give reason to
        give reason to give reason to give reason to give reason to give reason
        to give reason to give reason to give reason to give reason to give
        reason to give reason to give reason to give reason to give reason to
        give reason to give reason to give reason to give reason to give reason
        to give reason to give reason to give reason to give reason to give
        reason to give reason to give reason to give
      </p>
    </div>
    <div class="card_text">
      <div class="card_text_title">
        <h3>REASON TO GIVE</h3>
      </div>
      <h5>Double India Pale Ale</h5>
    </div>
    <div class="grid_1-1">
      <div class="price_box">
        <div>
          <div>
            <p class="price_text">Starter fra</p>
            <h6>60,00 DKK</h6>
          </div>
          <!-- <div>
            <p class="old_price">used to be</p>
            <h6 class="old_price">Gammel</h6>
          </div> -->
        </div>
      </div>
      <button>Tilføj til kurv</button>
    </div>
  </div>
</article>

<style>
  li {
    display: block;
    height: 100%;
  }

  article {
    position: relative;
    background-color: var(--font-color-white);
    border-radius: 2rem;
    filter: drop-shadow(0px 8px 8px #0000002c);
    height: 100%;

    width: 60vw;
    margin: auto;

    width: 60vw;
    display: flex;
    align-content: center;
    justify-content: center;

    overflow: hidden;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card_text {
    display: grid;
    gap: 0.25rem;
    padding-inline: 0.25rem;
    margin-inline: 1.25rem;
    border-bottom: solid var(--second-color) 3px;
    place-self: bottom;
  }

  .card_text_title {
    padding-bottom: 0.25rem;
  }

  img {
    place-self: center;
    width: 100%;
    height: auto;
    padding-inline: 5rem;

    position: relative;

    z-index: 10;
  }

  .repeat {
    font-size: 6.7cqw;
    width: 80vw;
    color: #e6e6e6;
    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    font-weight: 750;

    white-space: normal;
  }

  .background {
    position: absolute;
    top: -0.5rem;
    overflow: hidden;
    width: 60vw;
    height: 50vw;
    border-top-left-radius: 2.7rem;
    border-top-right-radius: 2.7rem;
  }

  article:hover img {
    opacity: 20%;
    transition-duration: 0.3s;
  }

  button {
    grid-column: 2;
    font-size: 2cqw;
    padding: 1rem;
    margin: 1rem;

    background-color: white;
    border: 0.1rem solid var(--second-color);
    border-radius: 0.5rem;
  }

  h3 {
    line-height: 80%;
    padding-bottom: 0rem;

    font-size: 3.5cqw;
    text-align: center;
    margin-top: 1rem;
  }

  h3 a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--second-color);
    text-decoration: none;
    line-height: 0.1;
  }

  h3 a:hover {
    transition-duration: 0.3s;
    opacity: 20%;
  }

  h3 a::after {
    content: "";
    position: absolute;
    inset: 0;
    text-decoration: underline;
  }

  .price_box {
    display: grid;
    border-radius: 3px;
    padding: auto auto;
    padding-inline: 1.75rem;
    padding-inline: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .price_text {
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 92%;
    text-align: left;
    place-self: left;

    margin-top: 1rem;
  }

  /* .old_price {
    text-decoration: line-through;
    font-weight: 500;
    opacity: 90%;
    text-align: right;
  } */
  p {
    font-weight: 500;
    opacity: 90%;
  }

  h5 {
    font-size: 2.7cqw;
    font-weight: 400;
    font-style: italic;
    text-align: center;

    padding-bottom: 1rem;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 2.8cqw;
    text-align: left;
    place-self: left;
  }

  @media screen and (max-width: 400px) {
    article {
      position: relative;
      background-color: var(--font-color-white);
      border-radius: 2rem;
      filter: drop-shadow(0px 8px 8px #0000002c);
      height: 100%;
    }

    .price_text {
      font-size: 0.7rem;
    }

    h6 {
      font-size: 2.8cqw;
    }

    button {
      font-size: 2cqw;
      padding: 0.5rem;
      margin: 1.5rem 1rem;
    }

    .background {
      height: 70vw;
    }
  }

  @media screen and (min-width: 480px) {
    .background {
      height: 65vw;
    }
  }

  @media screen and (min-width: 700px) {
    .background {
      height: 80vw;
    }
  }

  /* desktop */
  @media screen and (min-width: 800px) {
    img {
      place-self: center;
      width: 120%;
      height: auto;
      padding-inline: 5rem;

      position: relative;
    }

    .repeat {
      font-size: 3cqw;
      width: 80vw;
      color: #e6e6e6;
      text-transform: uppercase;

      font-family: "Montserrat", sans-serif;
      font-weight: 750;

      white-space: normal;
    }

    .background {
      position: absolute;
      top: -0.5rem;
      width: 60vw;
      height: 25vw;
      border-top-left-radius: 2.7rem;
      border-top-right-radius: 2.7rem;
    }

    article {
      position: relative;
      background-color: var(--font-color-white);
      border-radius: 1.5rem;
      height: auto;

      width: 23vw;
      margin: auto;

      display: flex;
      align-content: center;
      justify-content: center;
    }

    h3 {
      font-size: 2cqw;
    }

    h5 {
      font-size: 1.7cqw;
    }

    h6 {
      font-size: 1.3cqw;
    }

    .price_text {
      font-size: 1.5cqw;
    }

    button {
      grid-column: 2;
      font-size: 1cqw;
      padding: 0.5rem;
      margin-top: 2rem;
      margin-right: 1rem;

      background-color: white;
      border: 0.1rem solid var(--second-color);
      border-radius: 0.5rem;
    }

    .price_box {
      padding-right: 0;
    }
  }

  @media screen and (min-width: 940px) {
    .background {
      height: 25vw;
    }
  }

  @media screen and (min-width: 1175px) {
    .background {
      height: 30vw;
    }
  }

  @media screen and (min-width: 1280px) {
    img {
      width: 100%;
    }

    .background {
      height: 25vw;
    }

    h3 {
      font-size: 1.5cqw;
      margin-top: 2rem;
    }

    h5 {
      font-size: 1cqw;
    }
  }
</style>
