---
// @ts-check
---

<section class="se_mere">
  <div>
    <p>se mere</p>
    <img src="../../public/arrow_down.svg" alt="arrow_down" />
  </div>
</section>

<style>
  .se_mere {
    width: 100%;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 10px;
  }

  .se_mere img {
    width: 100%;
    max-height: 25px;
  }

  @media (max-width: 800px) {
    .se_mere {
      display: none;
    }
  }
</style>
