---

---

<section class="season_container">
  <div class="season_text">
    <h2>Denne sæsons øl</h2>
    <p class="p_b p_bold">Farsdags Øl 2025</p>
    <p>
      Dette års farsdags øl, Il Capo, er en IPA med smag af Chinook, Topaz og
      Amarillo. En kompleks og balanceret smagsprofil, hvor både frugtighed,
      krydderi og bitterhed spiller sammen. Fejre fædrene i dit liv med denne
      øl!
    </p>

    <div class="btns">
      <a href="/wip"><button class="buy_btn cta1">KØB HER</button></a>
      <a href="/wip"><button class="read_btn cta1">LÆS MERE</button></a>
    </div>
  </div>

  <div class="season_image">
    <img src="../../public/logo.svg" alt="" class="logo" />
    <img src="../../public/seasonal_beer.svg" alt="" class="beer_img" />
  </div>
  <a href="/wip"><button class="buy_btn2 cta1">KØB HER</button></a>
</section>

<style>
  .season_container {
    margin: 2rem 4.5rem 6rem 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  /* Text styling */
  .p_bold {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* Image styling */
  .logo {
    height: 10rem;
    margin-bottom: 2rem;
  }

  .season_image,
  .beer_img {
    border-radius: 25px;
  }

  .season_image {
    margin-top: 3rem;
    padding: 4rem;
    width: 35rem;
    background: #fff;
    border-radius: 15px;
    box-shadow:
      86px 238px 71px 0px rgba(0, 0, 0, 0),
      55px 152px 65px 0px rgba(0, 0, 0, 0.01),
      31px 86px 55px 0px rgba(0, 0, 0, 0.03),
      14px 38px 40px 0px rgba(0, 0, 0, 0.04),
      3px 10px 22px 0px rgba(0, 0, 0, 0.05);
  }

  /* Button container */
  .btns {
    margin-top: 5rem;
    width: 100%;
  }

  /* Button styles */
  .buy_btn,
  .read_btn {
    display: none;
  }

  .buy_btn2 {
    display: block;
    margin-top: 5rem;
  }
  /* 
  .buy_btn,
  .buy_btn2,
  .read_btn {
    width: 100%;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  } */

  .buy_btn h,
  .buy_btn2 h,
  .read_btn h {
    color: #fff;
  }

  /* Desktop layout */
  @media (min-width: 800px) {
    .season_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      margin: 10rem;
    }

    .season_image {
      grid-column: 1;
      width: 25rem; /* smaller width */
      padding: 2rem; /* smaller padding */
      place-self: center;
    }

    .season_text {
      grid-column: 2;
      grid-row: 1;
      place-self: center;
    }

    .btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 2rem;
      grid-column: 2;
      grid-row: 1;
      place-self: end;
    }

    .buy_btn,
    .read_btn {
      display: block;
    }

    .buy_btn2 {
      display: none;
    }
  }
</style>
