* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --main-color: #fffbf4;
  --second-color: #191919;
  --font-color-white: #ffffff;
  --font-color-black: #000000;
  --filter-color_new: #d44e4e;
  --filter-color_case: #6077ca;
  --filter-color_club: #4a4dfd;
  --filter-color_wild-ale: #7fb378;
  --filter-color_barrel-age: #7fb378;
  --filter-color_accessories: #6aafb7;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: var(--second-color);
  text-transform: uppercase;
  font-weight: 800;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: var(--second-color);
  font-weight: 700;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: var(--second-color);
  font-weight: 700;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  color: var(--second-color);
  font-weight: 600;
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--second-color);
  font-weight: 600;
}
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: var(--second-color);
  font-weight: 500;
}
p {
  font-family: "inter", sans-serif;
  font-size: 1rem;
  color: var(--second-color);
  font-weight: 400;
}
.p_m {
  font-size: 1.125rem;
}
.p_b {
  font-size: 1.125rem;
  font-weight: 600;
}
a {
  font-family: "inter", sans-serif;
  text-decoration: none;
  color: var(--font-color-white);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}
li {
  font-family: "inter", sans-serif;
  text-decoration: none;
  color: var(--font-color-white);
  font-size: 1rem;
}

button {
  width: min-content;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 1rem 5rem;
  cursor: pointer;

  .cta1 {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    z-index: 10;
  }

  .cta1:hover {
    background-color: white;
    color: rgba(25, 25, 25, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .cta2 {
    background-color: white;
    color: rgba(25, 25, 25, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 10;
  }

  .cta2:hover {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    box-shadow: none;
  }

  .cta3 {
    background-color: rgba(25, 25, 25, 1);
    color: var(--font-color-white);
    border: solid transparent 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .cta3:hover {
    border: solid var(--second-color) 2px;
    background-color: var(--font-color-white);
    color: var(--second-color);
  }

  .flex {
    display: flex;
  }

  .flexcol {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 2.25rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    h6 {
      font-size: 1.25rem;
    }
  }
}
